



.datepicker-container {
    display: none;
    position: absolute;
    background: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 12px;
    color: #FFF;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 0 4px #999;
}

.datepicker-container > div {
    float: left;
}

.datepicker-container table {
    margin: 0;
    padding: 0;
    height: 257px;
    position: relative;
    width: 100%;
}

.date-container td {
    background-color: #FFF;
    color: #314559;
    height: 36px;
    width: 36px;
    border-left: 1px solid #efdbd6;
    border-bottom: 1px solid #efdbd6;
    vertical-align: middle;
}

.date-container .year {
    font-weight: bold;
    cursor: defualt;
    border: none;
    border-bottom: 1px solid #efdbd6;
    font-size: 14px;
}

.date-container tr:first-child td {
    cursor: pointer;
    text-align: center;
}

.date-container .today {
    background-color: #C1DBEE;;
    font-weight: bold;
}

.date-container .date {
    cursor: pointer;
}

.date-container .date:hover,
.date-container .date.selected {
    background-color: #ECD166;
}

.date-container .disabled,
.date-container .disabled:hover,
.date-container .disabled.selected {
    background-color: #FFF;
    color: #E0E0E0;
    cursor: default;
}

.time-container {
    vertical-align: top;
    width: 200px;
}
.time-container .stepper {
    text-align: center;
    padding: 4px;
    font-size: 12px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(143, 200, 238);    
    vertical-align: top;
}

.time-container .stepper:active,
.date-container tr:first-child > td:active {
    opacity: .4;
}

.time-container td {
    vertical-align: middle;
    text-align: center;
}

.time-container .minutes-container {
    position: relative;
    padding-right: 10px;
}

.time-container input {
    outline: none;
    border: none;
    padding: 0 10px;
    color: rgb(0, 0, 0);
    position: static;
    width: 46px;
    font-size: 38px;
    border-top: 3px solid rgb(216, 238, 255);
    border-bottom: 3px solid rgb(216, 238, 255);
}

.time-container input:focus {
    padding: 0 10px;
    background: rgb(74, 104, 119);
}

.time-container .amPm {
    font-size: 18px;
    padding: 4px;
    padding-bottom: 16px;
    vertical-align: bottom;
    color: rgb(0, 0, 0);
    position: absolute;
    font-weight: normal;
    right: 0;
    bottom: 12px;
}

.time-container input[name=minutes] {
}

.time-container .military-format input[name=minutes] {
    padding-right: 0;
}

.time-container button {
    font-size: 18px;
    color: #666;
    background: rgb(235, 235, 235);
    border: 0 solid;
    width: 50%;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    bottom: -1px;
    right: 0;
}

.date-container .year + td {
    border-left: none;
}
.date-container {
    border-right: 1px solid #efdbd6;
}
.time-container tr:first-child .stepper {
    vertical-align: bottom;
}